* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
}
h1 {
  font-size: 2.5rem;
  color: #fff;
  font-family: "Potta One", cursive;
}
h2 {
  font-size: 2rem;
  color: #fff;
}
h3 {
  font-size: 1.5rem;
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}
nav {
  display: flex;
  height: 70px;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  z-index: 5;
  background-color: #000;
}
li {
  list-style: none;
}
span {
  color: rgb(48, 221, 48);
}
.logo {
  letter-spacing: 2px;
}
.page-start {
  width: 100%;
  height: 100vh;
  background-color: #000;
  margin-top: -70px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
}
.active-link {
  border-bottom: 2px solid rgb(48, 221, 48);
  transition: border 0.3s ease;
}
.active-link:hover {
  border-bottom: 3px solid rgb(48, 221, 48);
}
.aboutme-container {
  text-align: center;
}
.aboutme-container h2 {
  margin: 20px 0;
  letter-spacing: 1px;
}
.scrolled-link {
  opacity: 0.9;
  border-bottom: 1px solid rgb(48, 221, 48);
}
.scroll-down-arrow {
  color: #fff;
  transform: scale(3);
  position: absolute;
  animation: animateScrollButton 2s ease-in infinite;
}
@keyframes animateScrollButton {
  0% {
    bottom: 6%;
  }
  25% {
    bottom: 2.5%;
  }
  50% {
    bottom: 5%;
  }
  75% {
    bottom: 3%;
  }
  100% {
    bottom: 6%;
  }
}
